.calendarista{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.calendarista-invisible{
	visibility: hidden;
}
.calendarista-hide{
	display: none;
}
.calendarista .hide {
  display: none !important;
}
.calendarista .show {
  display: block !important;
}
.calendarista-align-left{
	text-align: left;
}
.calendarista-align-center{
	text-align: center;
}
.calendarista-align-right{
	text-align: right;
}

.calendarista .dropdown-menu a{
	text-decoration: none;
	border-width: 0;
}
.calendarista a.list-group-item:hover
, .calendarista button.list-group-item:hover
, .calendarista a.list-group-item:focus
, .calendarista button.list-group-item:focus{
	border: 1px solid #ddd;
}
.calendarista .form-group .form-control
, .calendarista .input-group-addon{
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.calendarista-readonly-field.form-control[readonly]{
	background-color: #ffffff;
    opacity: 1;
}
.calendarista-margin-top{
	margin-top: 10px !important;
}
.calendarista .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.calendarista .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.calendarista .row.calendarista-nomargin{
	margin-right: 0 !important;
    margin-left: 0 !important;
}
.calendarista .collapse.in{
	/*override avada*/
	display: block !important;
}
.calendarista .form-check-input{
	margin-left: 0;
}
.calendarista .form-control-lg{
	height: auto;
}
.calendarista .navbar{
	padding: .5rem .5rem !important;
}

.calendarista-inline-calendar{
	position: static;
}
.calendarista-flat.calendarista-borderless .ui-datepicker-inline.ui-datepicker
, .calendarista-flat.calendarista-borderless table.ui-datepicker-calendar{
	border-width: 0;
}
.calendarista-datepicker.calendarista-flat.ui-widget{
	font-size: 0.8em !important;
}
.calendarista-datepicker.calendarista-flat .ui-datepicker-header .ui-datepicker-next-hover
{
	top: 2px;
	right: 2px;
}
.calendarista-datepicker.calendarista-flat .ui-datepicker-header .ui-datepicker-prev-hover{
	top: 2px;
	left: 2px;
}
.calendarista-datepicker.calendarista-flat .ui-datepicker-header .ui-state-hover{
	background: transparent;
}
.calendarista-flat.calendarista-borderless .ui-datepicker-header.ui-widget-header{
	border-width: 0;
	background-image: none;
	border-bottom: 2px solid #000;
}

.calendarista-flat.calendarista-borderless table.ui-datepicker-calendar tbody tr td span
, .calendarista-flat.calendarista-borderless table.ui-datepicker-calendar tbody tr td a{
	border-width: 0;
}

.calendarista-flat.calendarista-borderless .ui-datepicker-buttonpane{
	border-width: 0;
	border-top: 2px solid #000;
}

.calendarista-flat.calendarista-borderless table.ui-datepicker-calendar tbody tr td{
	width: auto;
}

.ui-datepicker.calendarista-flat.calendarista-borderless{
	padding: .3em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	z-index: 10000000 !important
}

.calendarista-flat.calendarista-borderless  .ui-datepicker-inline .ui-datepicker-buttonpane button{
	padding: .6em;
}
.calendarista-flat .ui-corner-all
, .calendarista-flat .ui-corner-top
, .calendarista-flat .ui-corner-right
, .calendarista-flat .ui-corner-tr
, .calendarista-flat .ui-corner-bottom
, .calendarista-flat .ui-corner-left
, .calendarista-flat .ui-corner-bl
, .calendarista-flat .ui-corner-br{
	/*border-radius: 0;*/
}

.calendarista-flat .ui-widget-header
, .calendarista-flat .ui-state-default
, .calendarista-flat .ui-widget-content .ui-state-default
, .calendarista-flat .ui-widget-header .ui-state-default{
	background-image: none;
}

.calendarista-large-calendar .ui-datepicker td span
, .calendarista-large-calendar .ui-datepicker td a{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

@media (max-width: 767px) {
	.calendarista-large-calendar .ui-datepicker td span
	, .calendarista-large-calendar .ui-datepicker td a{
		padding-top: .2em;
		padding-bottom: .2em;
	}
}

.calendarista-inline-calendar .ui-datepicker{
	width: 100%;
}
.ui-datepicker-inline.ui-datepicker.ui-widget{
	font-size: .9em;
}
.calendarista-flat .ui-datepicker-buttonpane.ui-widget-content button{
	font-size: 0.7em;
}

.calendarista-flat .ui-datepicker-buttonpane.ui-widget-content button:before
, .calendarista-flat .ui-datepicker-buttonpane.ui-widget-content button:after{
	content: " ";
	display: table;
}
table.ui-datepicker-calendar{
	border-width: 0 !important;
}
.calendarista-available-legend
, .calendarista-unavailable-legend
, .calendarista-current-legend
, .calendarista-halfday-legend
, .calendarista-selectedday-legend
, .calendarista-selectedday-range-legend{
	width: 15px;
	height: 15px;
	margin-bottom: 5px;
	border: 1px solid #000;
}
.calendarista-legend-label{
	font-weight: normal;
    font-size: 0.6rem;
	padding-left: 5px;
	padding-right: 5px;
}
.calendarista-datepicker .ui-datepicker-other-month{
	visibility: hidden; 
}
.calendarista-halfday-legend {
  overflow: hidden;
}

.calendarista-halfday {
  width: 0;
  height: 0;
  border-top: 15px solid;
  border-right: 12px solid transparent;
}
.calendarista-calendar-spinner{
	margin-top: 10px;
	margin-left: 10px;
}
.calendarista .input-group-addon{
  width: auto;
}
.calendarista-selectedday-range .ui-state-default{
	background: transparent !important;
}
.ui-datepicker.calendarista-datepicker .ui-datepicker-calendar td, 
.ui-datepicker.calendarista-datepicker .ui-datepicker-calendar th{
	padding: 1px !important;
}

.ui-datepicker.calendarista-datepicker .ui-datepicker-prev:before,
.ui-datepicker.calendarista-datepicker .ui-datepicker-next:before{
	content: normal !important;
}

.calendarista ul.parsley-errors-list
, .calendarista ul.data-parsley-errors-list
, .parsley-required
, .parsley-email
, .parsley-number
, .parsley-integer
, .parsley-alphanum
, .parsley-url
, .parsley-minlength
, .parsley-maxlength
, .parsley-length
, .parsley-min
, .parsley-max
, .pasley-range
, .parsley-pattern
, .parsley-mincheck
, .parsley-maxcheck
, .parsley-check
, .parsley-type {
  margin-top: 5px;
  list-style-type: none;
}
.calendarista ul.parsley-errors-list li {
  padding: 5px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

input.parsley-error
, select.parsley-error
, textarea.parsley-error
, .parsley-required
, .parsley-email
, .parsley-number
, .parsley-integer
, .parsley-alphanum
, .parsley-url
, .parsley-minlength
, .parsley-maxlength
, .parsley-length
, .parsley-min
, .parsley-max
, .pasley-range
, .parsley-pattern
, .parsley-mincheck
, .parsley-maxcheck
, .parsley-check
, .parsley-type
, .parsley-custom-error-message {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in-;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.calendarista .ui-datepicker-calendar td{
	padding: 1px;
}

.calendarista button.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	padding: 1px 6px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity=20);
	background-color: transparent;
	border-width: 0;
}

.calendarista button.close:hover, .calendarista button.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity=50);
	background-color: transparent;
	border-width: 0;
}

.calendarista .nav>li>a
, .calendarista a.btn{
	text-decoration: none !important;
}

.calendarista.tab-content.form-horizontal div.form-group{
	margin-bottom: 15px;
}
.calendarista select[multiple]{
    height: auto !important;
}

.calendarista-wizard-section-block {
	width: 100%;
	color:#000;
	position: relative;	
	background: transparent;
	border: 1px solid transparent;
}
.calendarista-wizard-section-no-thumbnail{
	margin: 0 !important;
	padding: 20px 0;
	-moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
}
.calendarista-wizard-section-block-thumb{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.calendarista-wizard-section-thumbnail{
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;  
}
.calendarista .ui-datepicker a.ui-datepicker-prev
, .calendarista .ui-datepicker a.ui-datepicker-next{
	border: 1px solid transparent;
}
.calendarista-date-range{
	margin: 4px;
}

a.calendarista-wizard-action-button
, button.calendarista-wizard-action-button
, button.calendarista-wizard-action-button:hover
, a.calendarista-wizard-action-button:hover
, button.calendarista-wizard-action-button:focus
, a.calendarista-wizard-action-button:focus {
	background: #27AE60 !important;
	color: #fff;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 18px;
	margin: 10px 0 10px 10px;
	text-decoration: none;
}
button.calendarista-wizard-action-button:hover
, a.calendarista-wizard-action-button:hover
, button.calendarista-wizard-action-button:focus
, a.calendarista-wizard-action-button:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #27AE60;
}
button.calendarista-wizard-action-button
, a.calendarista-wizard-action-button{
	font-size: 1.5em;
	font-weight: bold;
}
a.calendarista-register
, a.calendarista-lostpassword{
	border-width: 0 !important;
	text-decoration: none !important;
}
a.calendarista-register:hover
, a.calendarista-lostpassword:hover{
	text-decoration: none !important;
}
.calendarista-wizard a{
	border-width: 0;
}
a.calendarista-not-active
, a.calendarista-not-active:hover
, a.calendarista-not-active:active
, a.calendarista-not-active:visited
, a.calendarista-not-active:focus{
   cursor: default;
   color: #9D9D9D;
   text-decoration: none;
}
.calendarista-time-summary{
    font-style: italic;
}
.alert.alert-warning.alert-dismissible.calendarista-discount-summary
, .alert.alert-warning.alert-dismissible.calendarista-deposit-summary{
	padding-right: 15px;
}
.calendarista label.control-label{
	text-transform: uppercase;
}

.calendarista .alert{
	border-radius: 0;
}
.calendarista-cite {
}
.calendarista-starttime-reset
, .calendarista-endtime-reset
, .calendarista-starttime-reset:hover
, .calendarista-endtime-reset:hover{
	text-decoration: none !important;
	border-width: 0 !important;
}
.calendarista-starttime-reset:hover
, .calendarista-endtime-reset:hover
, .calendarista-starttime-reset:active
, .calendarista-endtime-reset:active{
	text-decoration: underline;
	border-width: 0 !important;
}
.calendarista-alert{
	padding: 15px;
}
table.calendarista-table
, table.calendarista-table th
, table.calendarista-table td{
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
}
table.calendarista-table td{
	width: 50%;
}
.calendarista-departure
, .calendarista-destination
, .calendarista-stops{
	font-weight: bold;
}
.calendarista-breadcrumb{
	margin-left: 0;
	margin-bottom: 0 !important;
}
.calendarista-breadcrumb li a
, .calendarista-breadcrumb li a:hover{
	text-decoration: none !important;
	border-bottom-width: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.calendarista-breadcrumb {
	border-style: solid; 
	border-color: transparent;
	background-color: transparent;
	border-width: 1px;
	border-radius: 0px;
	padding: .75rem 0rem;
}
.calendarista-breadcrumb a {
	color: #000;
}
.calendarista-breadcrumb a.calendarista-breadcrumb-active {
	color: #b9bbbc;
}
.calendarista-breadcrumb a.calendarista-breadcrumb-disabled {
	color: #b9bbbc;
	cursor: default !important;
}
.calendarista-breadcrumb a:hover{
	color: #b9bbbc !important;
}
.calendarista-breadcrumb a.calendarista-breadcrumb-disabled:hover {
	color: #b9bbbc !important;
}
.calendarista-strikethrough{
	text-decoration: line-through;
}

.calendarista-breadcrumb {
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}
.calendarista-breadcrumb li {
    position: relative;
	list-style: none;
    font-size: 15px;
    line-height: 160%;
    margin: 0 10px 7px 30px;
    padding: 0 10px 0 5px !important;
	list-style-position: outside;
}
.calendarista-breadcrumb >li:before {
    counter-increment: numList;
    content: counter(numList) !important;
    float: left;
    position: absolute;
    left: -26px;
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 25px;
    width: 25px; 
	height: 25px;
    background: #cbcbcc;
    -moz-border-radius: 999px;
    border-radius: 999px
}
.calendarista-optional-item-container>strong{
	float: right;
}
li.calendarista-breadcrumb-li-active:before{
	background: #000;
	color: #fff;
}
.calendarista-navbar-container{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.calendarista-remove-box-shadow{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.calendarista-card-container{
	background: #dcdcdc;
    padding: 10px;
}
.calendarista-remove-padding{
	padding-left: 0 !important;
}
a.calendarista-add-to-calendar-link{
	text-decoration: none !important;
}
.woald-container{
	font-size: 14px;
}
.woald-map{
	height: 100%;
	width: 100%;
}

.woald-direction-panel{
	margin-bottom: 0px;
}

.woald-map-canvas { 
	height: 300px;
	width: 100%;
}

.woald-direction-panel{
	background: rgba(255, 255, 255, 0.7);
	padding: 15px;
}
.woald-direction-panel .adp-placemark
, .woald-direction-panel .adp-summary
, .woald-direction-panel .adp-directions{
	background: transparent;
	border: 0 none;
}

.woald-content-inner{
	padding-top: 15px;
}

.woald-photo-background{
	/*position: fixed;*/
	-webkit-transition: background-image 2s;
	-moz-transition: background-image 2s;
	-o-transition: background-image 2s;
	-ms-transition: background-image 2s;
	transition: background-image 2s;
    /*z-index: -1;*/
}

.form-inline .checkbox label.woald-inline-checkbox{
	padding-left: 5px;
}
.woald-knobs{
	padding-top: 3px;
	margin: 10px;
}
.woald-distance-and-cost{
	text-align: right;
}
.woald-distance-placeholder .list-group-item{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border: 0 none;
}
.woald-button-right-margin{
	margin-right: 5px;
}
.woald-gmaps-contextmenu{
	position: absolute;
	width: 320px;
	z-index: 1;
	overflow: auto;
	max-height: 200px;
}
.woald-inline-checkbox
{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.woald-list-group-item
, .woald-list-group-item:hover
, .woald-list-group-item:focus {
	color: #000;
	background-color: rgba(237, 237, 237, 0.8);
	border: none;
}
.woald-list-group-item-text{
	color: #000;
}
.woald-bg-box{
	padding: 10px;
	margin-bottom: 5px;
}
