body{
	min-width:768px;
}
.row,.container-fluid,.row,.col-1,.col-2,.col-3,.col-4,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.container {
	margin:0;
	padding:0;
}
.item-center{
	text-align : center;
}
.ul-gtnm{
	list-style-type: none;
	padding:0;
}
.ul-gtnm li a{
	color:black;
}
.footer{
	background:#F0AD4E;
	
}
.body {
	background: url("img/background.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	min-height:700px;

}
.auto-center{
	margin:auto;
}
.main{
	float:right;
	

	background:white;
	border-radius: 50px;
	text-align:center;
	border: 1px solid #000000;
}
.step-1{
	min-width:500px;
	min-height:500px;
	    margin-top: 70px;
		 margin-right: 70px;
}
.step-2{
	min-width:500px;
	min-height:600px;
	    margin-top: 50px;
		 margin-right: 70px;
}
h4{
	font-family:Oleo+Script;
}
.row{
	width:100%;
}
.input-group{
	display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;

}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
     border: 1px solid #CCCCCC;
	 border-radius: 4px;
}
.time input{
	text-align: right;
    width: 60px;
	margin-left:35px;
}
.step-2 .time{
	border: none;
}
.icon {
  padding: 10px;
  background: #CCCCCC;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  color:#999999;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}
.half{
	width:50%;
	
}
.right{
	text-align:right;
}
* {box-sizing: border-box;}
.checkbox-left{
	margin-left:50px;
}
.col-6{
	padding:0;
}
.left{
	text-align:left;
}
.input-checkbox input[type="checkbox"]{
	margin-top:5px;
}
.input-checkbox label{
	font-size: 13px;
    margin-left: 5px;
}
.col-8 label:after {

    background: blink;

}
input[type=checkbox] + label {
  color: #5CB85C;
} 
input[type=checkbox]:checked + label {
  color: #E82A2A;
} 
.btn-blue{
	background-color:#0275D8;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.btn-yellow{
	
	background-color:#F0AD4E;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.btn-red{
	
	background-color:#D9534F;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.list-inline li{
  display: inline;
  list-style-type: none;
  float: right;
  width:100px;
  padding-left:10px ;
  padding-right:10px ;
  height:100%;
  border-left: solid 1px #EEEEEE;
}
.list-inline li:first-child{

  border-left: none;
}
.circle{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    margin-top: 45px;
}
.head .name{
	margin-top: 50px;
	margin-bottom: 10px;
    font-size: 12px;
}
.head .level label{
	font-size: 10px;
	
}
.img-icon{
	    padding-top: 50px;
    text-align: center;
}
.time label{
	margin-left:110px;
	margin-top:10px;
}
<<<<<<< HEAD
table{
	text-align:center;
}
.Yakap{
	font-family: 'Yakap', arial;
}
.status{
	width:300px;
}
.black{
	background-color:#373A3C;
	color:white;
	
}
table th{
	font-weight: 100;
}
.div-table{
	max-width:90%;
	margin-left:5%;
	margin-top:100px;
	margin-bottom:100px;
}
.div-yellow{
	background-color:yellow;
	height:100px;
	border: 2px solid yellow;
	 border-top-left-radius: 50px 50px;
	 border-top-right-radius: 50px 50px;
}
=======

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
>>>>>>> han_pham
