body{
	min-width:768px;
}
.row,.container-fluid,.row,.col-1,.col-2,.col-3,.col-4,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.container {
	margin:0;
	padding:0;
}
.item-center{
	text-align : center;
}
.ul-gtnm{
	list-style-type: none;
	padding:0;
}
.ul-gtnm li a{
	color:black;
}
.footer{
	background:#F0AD4E;
}
.body {
	background: url("img/background.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	min-height:700px;

}
.auto-center{
	margin:auto;
}
.main{
	float:right;
	

	background:white;
	border-radius: 50px;
	text-align:center;
	border: 1px solid #000000;
}
.step-1{
	min-width:500px;
	min-height:500px;
	    margin-top: 70px;
		 margin-right: 70px;
}
.step-2{
	min-width:500px;
	min-height:600px;
	    margin-top: 50px;
		 margin-right: 70px;
}
h4{
	font-family:Oleo+Script;
}
.row{
	width:100%;
}
.input-group{
	display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;

}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
     border: 1px solid #CCCCCC;
	 border-radius: 4px;
}
.time input{
	text-align: right;
    width: 60px;
	margin-left:35px;
}
.step-2 .time{
	border: none;
}
.icon {
  padding: 10px;
  background: #CCCCCC;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  color:#999999;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}
.half{
	width:50%;
	
}
.right{
	text-align:right;
}
* {box-sizing: border-box;}
.checkbox-left{
	margin-left:50px;
}
.col-6{
	padding:0;
}
.left{
	text-align:left;
}
.input-checkbox input[type="checkbox"]{
	margin-top:5px;
}
.input-checkbox label{
	font-size: 13px;
    margin-left: 5px;
}
.col-8 label:after {

    background: blink;

}
input[type=checkbox] + label {
  color: #5CB85C;
} 
input[type=checkbox]:checked + label {
  color: #E82A2A;
} 
.btn-blue{
	background-color:#0275D8;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.btn-yellow{
	
	background-color:#F0AD4E;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.btn-red{
	
	background-color:#D9534F;
	border-radius: 4px;
	width: 96px;
	height: 37px;
	left: 1292px;
	top: 866px;
	color:white;
}
.list-inline li{
  display: inline;
  list-style-type: none;
  float: right;
  width:100px;
  padding-left:10px ;
  padding-right:10px ;
  height:100%;
  border-left: solid 1px #EEEEEE;
}
.list-inline li:first-child{

  border-left: none;
}
.circle{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    margin-top: 45px;
}
.head .name{
	margin-top: 50px;
	margin-bottom: 10px;
    font-size: 12px;
}
.head .level label{
	font-size: 10px;
	
}
.img-icon{
	    padding-top: 50px;
    text-align: center;
}
.time label{
	margin-left:110px;
	margin-top:10px;
}
table{
	text-align:center;
}
.Yakap{
	font-family: 'Yakap', arial;
}
.status{
	width:300px;
}
.black{
	background-color:#373A3C;
	color:white;
	
}
table th{
	font-weight: 100;
}
.div-table{
	max-width:90%;
	margin-left:5%;
	margin-top:100px;
	margin-bottom:100px;
}
.div-yellow{
	background-color:yellow;
	height:100px;
	border: 2px solid yellow;
	 border-top-left-radius: 50px 50px;
	 border-top-right-radius: 50px 50px;
}